<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="quotes" connectionString="server=PURVI-PC\SQLEXPRESS;database=QUOTES_SARABEEL;Integrated Security=SSPI;"
            providerName="System.Data.SqlClient" />
        <add name="quotestest.Properties.Settings.mydatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\mydatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="quotessdfconn"
            connectionString="Data Source=|DataDirectory|\Model\AccountDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>